@page "/blazoradmin"
@attribute [AdminAuthorize]
@if(isInitDone)
{
    <table class="table blazoradmin-table">
        <thead>
            <tr>
                <th>
                    Set
                </th>
                <th>
                    Entities Counts
                </th>
                <th class="sort-ignore filter-false" width="120"></th>
            </tr>
        </thead>
        <tbody>
            @if(sets is not null)
            {
                 @foreach (var s in sets) {
                 string nav = $"blazoradmin/{s.name}";
                    <tr>
                        <td>
                            <NavLink href=@nav>
                                @s.name
                            </NavLink>
                        </td>
                         
                        <td>
                            @s.count
                        </td>
                        <td >
                            <div class = "admin-btn-size">
                                <NavLink class="text-decoration-none"  href=@(nav+"/new")>
                                    <button  class="border-0 rounded bg-primary text-light d-flex justify-content-evenly align-content-center w-100"><span class="oi oi-plus top-0 my-auto"/>New</button>
                                </NavLink>
                            </div>
                        </td>
                    </tr>
                 }
            } 
    </tbody>
    </table>
}
else
{
    <div id="blazoradmin-spinner"></div>
}

